.board {
  border-width: 2px;
  border-color: white;
  border-style: solid;

  display: grid;
  grid-gap: 1px;
  grid-auto-flow: dense;

  width: 600px;
  height: 600px;
}

.cell {
  background-color: gray;
  aspect-ratio: 1 / 1;
}

.empty {
  background-color: transparent;
}

.body {
  background-color: green;
}

.head {
  background-color: orange;
}

.food {
  background-color: red;
}

