.board {
  border-width: 2px;
  border-color: white;
  border-style: solid;

  display: grid;
  grid-gap: 1px;
  grid-auto-flow: dense;

  width: 40vw;
  height: auto;
}

@media (max-width: 992px) {
  .board {
    width: 70vw
  }
}

@media (max-width: 768px) {
  .board {
    width: 96vw
  }
}


.cell {
  background-color: gray;
  aspect-ratio: 1 / 1;
}

.empty {
  background-color: transparent;
}

.body {
  background-color: green;
}

.head {
  background-color: orange;
}

.food {
  background-color: red;
  border-radius: 20px;
}
