.snakeGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
  font-size: 2em;
  color: white;
}

.modalText {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 3em;
}
